[submodule "isaac_ros_common"]
	path = isaac_ros_common
	url = git@github.com:NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2
[submodule "rs_driver"]
	path = rs_driver
	url = https://github.com/RoboSense-LiDAR/rs_driver.git
[submodule "zed-ros2-interfaces"]
	path = zed-ros2-interfaces
	url = https://github.com/stereolabs/zed-ros2-interfaces.git
	branch = humble
