[submodule "isaac_ros_common"]
	path = isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
	branch = release-3.2
[submodule "spark-fast-lio"]
	path = spark-fast-lio
	url = https://github.com/rilyen/spark-fast-lio.git
[submodule "pointcloud_to_laserscan"]
	path = pointcloud_to_laserscan
	url = https://github.com/rilyen/pointcloud_to_laserscan.git
	branch = humble
